main{
    width: 100%;
    background-color: #242424;
}
/*Header properties*/
.header{
    width: 1000px;
    margin: 0 auto;
    height: 45px;
}
.header-wrapper{
    width: 100%;
    height: 100%;
    background-color: #242424;
}
.header-wrapper__logo{
    margin-left: 13px;
    background-image: url("YourLogo.png");
    float: left;
    height: 20px;
    width: 156px;
    margin-top: 10px;
}
.header-wrapper__login-register{
    height: 100%;
    width: 140px;
    float: right;
    margin-right: 40px;
}
.header-wrapper__login-register__list{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 15px;
    margin: 10px 11px 0 11px;
}
.header-wrapper__login-register__list__li{
    display: inline-block;
}
.header-wrapper__login-register__list__li:hover{
    background-color:#57c5a0;
}
.header-wrapper__login-register__list__li-login{
    color: #7e7e7e;
    font-size: 11px;
}
.header-wrapper__login-register__list__li-or{
    color: #7e7e7e;
    font-size: 11px;
}
.header-wrapper__login-register__list__li-register{
    color: #7e7e7e;
    font-size: 11px;
}
/*Menu properties*/
.menu{
    height: 60px;
    width: 100%;
    background-color: #ffffff;
}
.menu-wrapper{
    width: 1000px;
    height: 100%;
    /*background-color: #ffffff;*/
    margin: 0 auto;
   /* background-color: green;*/
}
/*Main navigation properties*/
.menu-wrapper__main-navigation__list{
    margin: 0;
    height: 60px;
    float: left;
    padding-left: 42px;
}
.menu-wrapper__main-navigation__list-li{
    margin-right: 15px;
    margin-top: 23px;
}
.menu-wrapper__main-navigation__list-link{
    color: #505050;
}
.menu-wrapper__main-navigation__list-link:hover{
    background-color:#57c5a0;
}
/*Wishlist-cart properties*/
.menu-wrapper__wishlist-cart{
    margin: 0;
    padding: 0;
    height: 22px;
    width: 180px;
    float: right;
    margin-top: 22px;
    margin-right: 23px;
}
.menu-wrapper__wishlist-cart__li-star-icon{
    padding-left: 24px;
}
.menu-wrapper__wishlist-cart__li-star-icon-img{
    background-image: url("StarIcon.png");
    width: 16px;
    height: 16px;
}
.menu-wrapper__wishlist-cart__li-wishlist-counter{
    padding-left: 8px;
}
.menu-wrapper__wishlist-cart__li-wishlist-counter-div{
    border-radius: 4px;
    width: auto;
    height: 20px;
    background-color: #adadad;
    color: #fff;
}
.menu-wrapper__wishlist-cart__li-cart-icon{
    padding-left: 24px;
}
.menu-wrapper__wishlist-cart__li-cart-icon-img{
    background-image:url("CartIcon.png");
    width: 16px;
    height: 13px;
}
.menu-wrapper__wishlist-cart__li-cart-counter{
    padding-left: 8px;
}
.menu-wrapper__wishlist-cart__li-cart-counter-div{
    width: auto;
    height: 20px;
    background-color: #57c5a0;
    border-radius: 4px;
    color: #fff;
}
/*Top properties*/
/*Main top properties*/
.top{
    width: 100%;
    background-color: #eeece7;
    height: 460px;
}
.top-wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: yellow;
}
.top-wrapper__top-img{
    background-image: url("Test.png");
    height: 460px;
    width: 484px;
    float: left;

}
.top-wrapper__item-description{
    height: 460px;
    width: 516px;
    float: right;
}
.top-wrapper__item-description__item-price{
    margin-top: 70px;
    background-color: #57c5a0;
    width: 68px;
    height: 67px;
    margin-right: 410px;
    float: right;
}
.top-wrapper__item-description__item-price-div{
    width: auto;
    height: 17px;
    margin-top: 22px;
    margin-left: 7px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}
.top-wrapper__item-description-title{
    width: 290px;
    height: 80px;
    color: #242424;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    margin-right: 374px;
    margin-top: 40px;
}
.top-wrapper__item-title-description{
    width: 390px;
    height: 84px;
    color: #242424;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 10px;
}
.top-wrapper__item-description__action-menu{
    margin: 0;
    padding-left: 2px;
    margin-top: 10px;
    width: 400px;
}
.top-wrapper__item-description__action-menu_icons-container{
    background-color: #fff;
    width: 40px;
    height: 40px;
}
.top-wrapper__item-description__action-menu_icons-container-eye-icon{
    padding: 15px 12px 15px 12px;
}
.top-wrapper__item-description__action-menu_icons-container-star-icon-top{
    padding: 12px 12px 12px 12px;
}
.top-wrapper__item-description__action-menu_icons-container-share-icon{
    padding: 13px 12px 13px 12px;
}
.top-wrapper__item-description__action-menu_icons-container-cart-icon-top{
    padding: 12px 12px 12px 12px;
}
/*Top slider properties*/
.top__slider{
    background-image: url("Slider.png");
    height: 90px;
    width: 1400px;
}
/*Specials*/
.specials{
    width: 100%;
    height: 230px;
    background-color: #242424;
}
.specials-wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: green;
}
/*Specials on sale*/
.specials-wrapper__on-sale{
    background-image: url("OnSale.png");
    height: 180px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 17px;
}
.specials-wrapper__on-sale__div{
    width: 180px;
    height: 60px;
    background-color: rgba(36, 36, 36, 0.9);
    margin-top: 60px;
    margin-left: 60px;
}
.specials-wrapper__on-sale__div-text{
    padding-top: 18px;
    padding-left: 40px;
    color: #fff;
    font-size: 25px;
}
/*Specials specials offers*/
.specials-wrapper__specials-offers{
    background-image: url("SpecialsOffers.png");
    height: 180px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 22px;
}
.specials-wrapper__specials-offers__div{
    background-color: rgba(36, 36, 36, 0.9);
    width: 230px;
    height: 60px;
    margin-top: 60px;
    margin-left: 35px;
}
.specials-wrapper__specials-offers__div-text {
    padding-top: 18px;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
}
/*Specials must have*/
.specials-wrapper__must-have{
    background-image: url("MustHave.png");
    height: 180px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 22px;

}
.specials-wrapper__must-have__div{
    background-color: rgba(36, 36, 36, 0.9);
    width: 180px;
    height: 60px;
    margin-top: 60px;
    margin-left: 60px;
}
.specials-wrapper__must-have__div-text{
    padding-top: 18px;
    color: #fff;
    font-size: 25px;
    padding-left: 18px;
}





















































/*Universal properties*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
}