main{
    width: 100%;
    background-color: #242424;
}
/*Header properties*/
.header{
    width: 1000px;
    margin: 0 auto;
    height: 45px;
}
.header-wrapper{
    width: 100%;
    height: 100%;
    background-color: #242424;
}
.header-wrapper__logo{
    margin-left: 13px;
    background-image: url("YourLogo.png");
    float: left;
    height: 20px;
    width: 156px;
    margin-top: 10px;
}
.header-wrapper__login-register{
    height: 100%;
    width: 140px;
    float: right;
    margin-right: 40px;
}
.header-wrapper__login-register__list{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 15px;
    margin: 10px 11px 0 11px;
}
.header-wrapper__login-register__list__li{
    display: inline-block;
}
.header-wrapper__login-register__list__li:hover{
    background-color:#57c5a0;
}
.header-wrapper__login-register__list__li-login{
    color: #7e7e7e;
    font-size: 11px;
}
.header-wrapper__login-register__list__li-or{
    color: #7e7e7e;
    font-size: 11px;
}
.header-wrapper__login-register__list__li-register{
    color: #7e7e7e;
    font-size: 11px;
}
/*Menu properties*/
.menu{
    height: 60px;
    width: 100%;
    background-color: #ffffff;
}
.menu-wrapper{
    width: 1000px;
    height: 100%;
    /*background-color: #ffffff;*/
    margin: 0 auto;
   /* background-color: green;*/
}
/*Main navigation properties*/
.menu-wrapper__main-navigation__list{
    margin: 0;
    height: 60px;
    float: left;
    padding-left: 42px;
}
.menu-wrapper__main-navigation__list-li{
    margin-right: 15px;
    margin-top: 23px;
}
.menu-wrapper__main-navigation__list-link{
    color: #505050;
}
.menu-wrapper__main-navigation__list-link:hover{
    background-color:#57c5a0;
}
/*Wishlist-cart properties*/
.menu-wrapper__wishlist-cart{
    margin: 0;
    padding: 0;
    height: 22px;
    width: 180px;
    float: right;
    margin-top: 22px;
    margin-right: 23px;
}
.menu-wrapper__wishlist-cart__li-star-icon{
    padding-left: 24px;
}
.menu-wrapper__wishlist-cart__li-star-icon-img{
    background-image: url("StarIcon.png");
    width: 16px;
    height: 16px;
}
.menu-wrapper__wishlist-cart__li-wishlist-counter{
    padding-left: 8px;
}
.menu-wrapper__wishlist-cart__li-wishlist-counter-div{
    border-radius: 4px;
    width: auto;
    height: 20px;
    background-color: #adadad;
    color: #fff;
}
.menu-wrapper__wishlist-cart__li-cart-icon{
    padding-left: 24px;
}
.menu-wrapper__wishlist-cart__li-cart-icon-img{
    background-image:url("CartIcon.png");
    width: 16px;
    height: 13px;
}
.menu-wrapper__wishlist-cart__li-cart-counter{
    padding-left: 8px;
}
.menu-wrapper__wishlist-cart__li-cart-counter-div{
    width: auto;
    height: 20px;
    background-color: #57c5a0;
    border-radius: 4px;
    color: #fff;
}
/*Top properties*/
/*Main top properties*/
.top{
    width: 100%;
    background-color: #eeece7;
    height: 460px;
}
.top-wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: yellow;
}
.top-wrapper__top-img{
    background-image: url("Test.png");
    height: 460px;
    width: 484px;
    float: left;

}
.top-wrapper__item-description{
    height: 460px;
    width: 516px;
    float: right;
}
.top-wrapper__item-description__item-price{
    margin-top: 70px;
    background-color: #57c5a0;
    width: 68px;
    height: 67px;
    margin-right: 410px;
    float: right;
}
.top-wrapper__item-description__item-price-div{
    width: auto;
    height: 17px;
    margin-top: 22px;
    margin-left: 7px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}
.top-wrapper__item-description-title{
    width: 290px;
    height: 80px;
    color: #242424;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    margin-right: 374px;
    margin-top: 40px;
}
.top-wrapper__item-title-description{
    width: 390px;
    height: 84px;
    color: #242424;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 10px;
}
.top-wrapper__item-description__action-menu{
    margin: 0;
    padding-left: 2px;
    margin-top: 10px;
    width: 400px;
}
.top-wrapper__item-description__action-menu_icons-container{
    background-color: #fff;
    width: 40px;
    height: 40px;
}
.top-wrapper__item-description__action-menu_icons-container-eye-icon{
    padding: 15px 12px 15px 12px;
}
.top-wrapper__item-description__action-menu_icons-container-star-icon-top{
    padding: 12px 12px 12px 12px;
}
.top-wrapper__item-description__action-menu_icons-container-share-icon{
    padding: 13px 12px 13px 12px;
}
.top-wrapper__item-description__action-menu_icons-container-cart-icon-top{
    padding: 12px 12px 12px 12px;
}
/*Top slider properties*/
.top__slider{
    background-image: url("Slider.png");
    height: 90px;
    width: 1400px;
}
/*Specials*/
.specials{
    width: 100%;
    height: 230px;
    background-color: #242424;
}
.specials-wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: green;
}
/*Specials on sale*/
.specials-wrapper__on-sale{
    background-image: url("OnSale.png");
    height: 180px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 17px;
}
.specials-wrapper__on-sale__div{
    width: 180px;
    height: 60px;
    background-color: rgba(36, 36, 36, 0.9);
    margin-top: 60px;
    margin-left: 60px;
}
.specials-wrapper__on-sale__div-text{
    padding-top: 18px;
    padding-left: 40px;
    color: #fff;
    font-size: 25px;
}
/*Specials specials offers*/
.specials-wrapper__specials-offers{
    background-image: url("SpecialsOffers.png");
    height: 180px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 22px;
}
.specials-wrapper__specials-offers__div{
    background-color: rgba(36, 36, 36, 0.9);
    width: 230px;
    height: 60px;
    margin-top: 60px;
    margin-left: 35px;
}
.specials-wrapper__specials-offers__div-text {
    padding-top: 18px;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
}
/*Specials must have*/
.specials-wrapper__must-have{
    background-image: url("MustHave.png");
    height: 180px;
    width: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 22px;

}
.specials-wrapper__must-have__div{
    background-color: rgba(36, 36, 36, 0.9);
    width: 180px;
    height: 60px;
    margin-top: 60px;
    margin-left: 60px;
}
.specials-wrapper__must-have__div-text{
    padding-top: 18px;
    color: #fff;
    font-size: 25px;
    padding-left: 18px;
}
/*Commercial properties*/
.commercial{
    width: 100%;
    height: 1000px;
    background-color: #ebe7df;
}
/*New arrivals*/
.commercial__new-arrivals{
    width: 1000px;
    height: 360px;
    margin: 0 auto;
    background-color: #ebe7df;
}
.commercial__new-arrivals__title{
    width: 100%;
    height: 88px;
    background-color: #ebe7df;
}
.commercial__new-arrivals__title-text{
    color: #242424;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 30px;
    float: left;
}
.commercial__new-arrivals__title-show-all{
    width: 100px;
    height: 30px;
    background-color: #ebe7df;
    border: 1px solid #bcb5a7;
    float: right;
    margin-top: 27px;
    margin-right: 45px;
}
.commercial__new-arrivals__title-show-all-text{
    font-size: 14px;
    color: #bcb5a7;
    padding-left: 23px;
    padding-top: 7px;
}
.commercial__new-arrivals__item{
    height: 272px;
    width: 100%;
    background-color: #ebe7df;
}
.commercial__new-arrivals_item-1{
    background-image: url("Item1.png");
    background-repeat: no-repeat;
    background-color: #fff;
    height: 272px;
    width: 300px;
    float: left;
    margin-left: 15px;
}
.commercial__new-arrivals_item-2{
    background-image: url("Item2.png");
    background-repeat: no-repeat;
    background-color: #fff;
    width: 300px;
    height: 272px;
    float: left;
    margin-left: 22px;
}
.commercial__new-arrivals_item-3{
    background-image: url("Item3.png");
    background-repeat: no-repeat;
    background-color: #fff;
    height: 272px;
    width: 300px;
    float: left;
    margin-left: 22px;
}
/*Description of Item 1*/
.commercial__new-arrivals_item-1-price{
    background-color: #57c5a0;
    width: 68px;
    height: 67px;
    margin-top: 205px;
    margin-left: 12px;
    float: left;
}
.commercial__new-arrivals_item-1-price-div{
    width: auto;
    height: 17px;
    padding-top: 22px;
    padding-left: 7px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}
.commercial__new-arrivals_item-1-name{
    float: left;
    margin-top: 227px;
    margin-left: 14px;
    color: #242424;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
/*Description of Item 2*/
.commercial__new-arrivals_item-2-status{
    background-color: #242424;
    width: 68px;
    height: 67px;
    /*margin-top: -262px;*/
    margin-right: 14px;
    float: right;
}
.commercial__new-arrivals_item-2-status-text{
    width: auto;
    height: 17px;
    padding-top: 22px;
    padding-left: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
}
/*Best sellers*/
.commercial__best-sellers{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: #ebe7df;
}
.commercial__best-sellers__title {
    width: 100%;
    height: 88px;
    background-color: #ebe7df;
}
.commercial__best-sellers-title-text{
    font-size: 25px;
    font-weight: 300;
    line-height: 2.4;
    text-align: left;
    color: #242424;
    float: left;
    margin-top: 17px;
    margin-left: 25px;
}
.commercial__best-sellers__title__show-all-btn{
    width: 100px;
    height: 30px;
    background-color: #ebe7df;
    border: solid 1px #bcb5a7;
    float: right;
    margin-top: 27px;
    margin-right: 45px;
}
.commercial__best-sellers__title__show-all-btn-text{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.79;
    text-align: center;
    color: #bcb5a7;
}
.commercial__best-sellers__item{
    margin-top: 15px;
    height: 272px;
    width: 100%;
    float: left;
}
.commercial__best-sellers__item-1{
    background-image: url("ItemBS.png");
    background-repeat: no-repeat;
    background-color: #fff;
    height: 272px;
    width: 300px;
    float: left;
    margin-left: 15px;
}
.commercial__best-sellers__item-2{
    background-image: url("Item2BS.png");
    background-repeat: no-repeat;
    background-color: #fff;
    height: 272px;
    width: 300px;
    float: left;
    margin-left: 22px;
}
.commercial__best-sellers__item-3{
    background-image: url("Item3BS.png");
    background-repeat: no-repeat;
    background-color: #fff;
    height: 272px;
    width: 300px;
    float: left;
    margin-left: 22px;
}
.commercial__best-sellers__item-price{
    width: 68px;
    height: 67px;
    background-color: #57c5a0;
    margin-left: 12px;
    margin-top: 203px;
}
.commercial__best-sellers__item-price-paragraph{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.92;
    text-align: left;
    color: #ffffff;
    padding-left: 8px;
    padding-top: 22px;
}
.commercial__best-sellers__item-name{
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #242424;
    margin-top: -40px;
    margin-left: 93px;
    float: left;
}
.commercial__best-sellers__item-status{
    width: 68px;
    height: auto/*67px*/;
    background-color: #f27e4b;
    float: right;
    margin-right: 17px;
    margin-top: -275px;
}
.commercial__best-sellers__item-status-paragraph{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    color: #ffffff;
    padding-top: auto/*12px*/;
    padding-left: 12px;
    padding-bottom: auto/*px*/;
    padding-right: 12px;
}
.commercial__best-sellers__action-menu{
    margin: 0;
    padding-left: 2px;
    width: 400px;
    margin-top: -45px;
    margin-left: 100px;
}
.commercial__best-sellers__action-menu_icons-container{
    /*background-color: #fff;*/
    width: 40px;
    height: 40px;
}
.commercial__best-sellers__action-menu_icons-container-eye-icon{
    padding: 15px 12px 15px 12px;
}
.commercial__best-sellers__action-menu_icons-container-star-icon-top{
    padding: 12px 12px 12px 12px;
}
.commercial__best-sellers__action-menu_icons-container-share-icon{
    padding: 13px 12px 13px 12px;
}
.commercial__best-sellers__action-menu_icons-container-cart-icon-top{
    padding: 12px 12px 12px 12px;
}
.commercial__footer{
    width: 100%;
    background-color: #ebe7df;
    height: auto;
}
.commercial__footer-wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: #ebe7df;
    float: left;
    margin-left: 200px;
}
.commercial__footer-wrapper__free-shipping{
    width: 220px;
    height: 185px;
    background-color: #dfdbd4;
    margin-left: 25px;
    float: left;
    margin-top: 73px;
}
.commercial__footer-wrapper__free-shipping-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 4.29;
    text-align: left;
    color: #242424;
    padding-left: 15px;
    /*padding-top: 10px;*/
}
.commercial__footer-wrapper__free-shipping-text{
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #242424;
    /*padding-top: 17px;*/
    padding-left: 15px;
}
.commercial__footer-wrapper__testimonials{
    width: 220px;
    height: 185px;
    background-color: #dfdbd4;
    margin-left: 20px;
    float: left;
    margin-top: 73px;
}
.commercial__footer-wrapper__testimonials-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 4.29;
    text-align: left;
    color: #242424;
    padding-left: 15px;
}
.commercial__footer-wrapper__testimonials-text{
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #242424;
    padding-left: 15px;
}
.commercial__footer-wrapper__testimonials-text-quote{
    line-height: 1.83;
    font-size: 12px;
    text-align: left;
    color: #242424;
    padding-top: 5px;
    padding-left: 15px;

}
.commercial__footer-wrapper__blog-news{
    width: 460px;
    height: 185px;
    background-color: #dfdbd4;
    float: right;
    margin-top: 73px;
}
.commercial__footer-wrapper__blog-news-title{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 4.29;
    text-align: left;
    color: #242424;
    margin-left: 18px;
    height: 44px;
    }
.commercial__footer-wrapper__blog-news__blog-post{
    width: auto;
    height: auto;
    margin-left: 18px;
    margin-top: 14px;
}
.commercial__footer-wrapper__blog-news__blog-post-date-counter{
    width: 36px;
    height: 36px;
    background-color: #57c5a0;

}
.commercial__footer-wrapper__blog-news__blog-post-content{
  margin: 0;
  width: auto;
  height: auto;
  background-color: #dfdbd4;
  margin-left: 45px;
  margin-top: -35px;
}
.commercial__footer-wrapper__blog-news__blog-post-date-counter-date{
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    line-height: 0.92;
    padding-top: 7px;
    padding-bottom: 7px;
}
.commercial__footer-wrapper__blog-news__blog-post-content-title{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
}
.commercial__footer-wrapper__blog-news__blog-post-content-description{
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #242424;
}
.pre-footer{
  width: 100%;
  height: auto;
  background-color: #242424
}
.pre-footer-wrapper{
  width: 1000px;
  height: 365px;
  background-color: green;
  margin: 0 auto;
}
.pre-footer-wrapper__text-widget{
  margin-left: 67px;
  height: auto;
  background-color: #242424;
  width: 251px;
  float: left;
}
.pre-footer-wrapper__text-widget-title{
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #7d7d7d;
  padding-top: 51px;
}
.pre-footer-wrapper__text-widget-content{
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
  color: #a4a4a4;
  padding-top: 24px;
}
.pre-footer-wrapper__twitter-widget{
  background-color: #242424;
  margin-left: 52px;
  height: auto;
  width: 251px;
  float: left;
}
.pre-footer-wrapper__twitter-widget-title{
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #7d7d7d;
  padding-top: 51px;
}
.pre-footer-wrapper__twitter-widget__post-content{
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
  color: #a4a4a4;
  padding-top: 24px;
}
.pre-footer-wrapper__twitter-widget__post-date-ago{
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
  color: #c4c5bf;
  padding-top: 11px;
}
.twitter-user-link{
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
  color: #57c5a0;
}

































/*Universal properties*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
}
